{% extends 'amazing.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas l'email, veuillez vérifier dans votre dossier 'courriers indésirables' ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
