{% extends 'amazing.html.twig' %}

{% block title %}Amazing Sciences{% endblock %}

{% block body %}

        <!--MAIN CONTENT-->
        <main>
            <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/R5SD0JtvBDo?" frameborder="0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="illustration1">
                    <img src="Amazing/images/accueil1bis.jpg" alt="">
            </div>  
            <div class="nom_site">
                <h1>amazing Sciences</h1>
                <div class="slogan">
                    <h2>découvrir et comprendre</h2>
                </div>
            </div>
            <div class="illustration2">
                <img src="Amazing/images/accueil2bis.jpg" alt="">
            </div>
            <div class="illustration3">  
                <img src="Amazing/images/accueil3bis.jpg" alt="">
            </div>            
        </main>

{% endblock %}
